backend/.venv
backend/.env.md
backend/requirements.txt

backend/.env
backend/.env.*
!backend/.env.example
backend/userdata/*
!backend/userdata/.gitkeep
backend/data/
*.db
*.sqlite*
warn/

project.private.config.json
uni-app/project.private.config.json


uni-app/unpackage/
backend/.venv/
.venv/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db